<div class="panel">
  <div class="panel-body">
    <%= image_tag avatar_url(line.user), class: "img-circle avatar-medium" %>
    <strong><%= line.user.fullname %></strong>
    <span class="pull-right"><%= line.line_time %></span>
    <br/>
    <div class="row-space-2">
      <%= line.context %>
    </div>
  </div>
</div>
