<div class="row">
  <div class="col-md-8">
      <%= render 'public_channels' %>
  </div>

  <% if !mobile_device?  %> 
    <div class="col-md-4">
      <%= render partial: "shared/rightbar" %>
    </div>
  <% end %>
   
  </div>
