
      <div class="container">
        <%#= bar_chart Assignment.group(:aasm_state).count %>
      </div>
      <div class="container">
        <%#= pie_chart Assignment.group(:aasm_state).count, legend: false %>
      </div>
