<div class="row ">
	<div  class="col-xs-12 col-md-12  ">
    	<h1 style="text-align:center;">fieldConnect V 3.0 </h1>
		<p style="text-align:center;">build 1084</p>
		<p style="text-align:center;">Letsapp Limited copy right 2019</p>
<br>
		<p style="text-align:center;">Workflow Life Cycle</p>
		  <iframe style="display: block; margin: auto;" 
		   src="https://www.youtube.com/embed/pTwgYwqEZS4"
		   width="560" height="315" frameborder="0" allowfullscreen></iframe>

  <% if current_user.admin? or current_user.manager? %>
		<p style="text-align:center;">Work-Location default set up</p>
		  <iframe style="display: block; margin: auto;" 
		  src="https://www.youtube.com/embed/p6NK16XMQfw"
		   width="560" height="315" frameborder="0" allowfullscreen></iframe>

		<p style="text-align:center;">Task Scheduling</p>
		  <iframe style="display: block; margin: auto;" 
		  src="https://www.youtube.com/embed/oFkneRP0ZWQ"
		   width="560" height="315" frameborder="0" allowfullscreen></iframe>

		<p style="text-align:center;">upload csv tasks file </p>
		  <iframe style="display: block; margin: auto;" 
		   src="https://www.youtube.com/embed/nV8vgTiu1Ic"
		   width="560" height="315" frameborder="0" allowfullscreen></iframe>

		<p style="text-align:center;">Announcements</p>
		  <iframe style="display: block; margin: auto;" 
		   src="https://www.youtube.com/embed/mgopUVRw6yE"
		   width="560" height="315" frameborder="0" allowfullscreen></iframe>

   		<p style="text-align:center;">Reports generation</p>
		  <iframe style="display: block; margin: auto;" 
		  src="https://www.youtube.com/embed/stl39ae7XfA"
		   width="560" height="315" frameborder="0" allowfullscreen></iframe>
	<% end %>
	</div>
	<br><br>
</div>


